

body {
    font-family: "Arial";
    background-color: #d3dae5;
}

h1 {
    color: #ffffcc;
    padding-top: 10px;
    padding-left: 8px;
    display: inline;
}

h3 {
    color: #2a4672;
    margin-right: 8px;
    padding-top: 12px;
    display: inline;
    text-align: right;
}

div {
    height: 50px;
    width: 100%;
    display:block;
    margin: auto;
}

#header {
    background-color: #0066cc;
}

#subtitle {
    height:20px;
    text-align: right;
}

#button {
    margin-top: 10px;
    background-color: #003399;
    display: inline-block;
    width:24%;
    border-radius:3px;
}

p {
    text-align: center;
}

a {
    color: white;
}