body {
    font-family: "Arial";
    background-color: #d3dae5;
}


#button {
    margin-top: 10px;
    background-color: #003399;
    display: inline-block;
    width:24%;
    border-radius:3px;
    text-align: center;
}

a {
    color: white;
}

h1 {
    text-align: center;
}

#problem {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 3px;
    margin: 5px;
}