{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'sentenceGen/generateStyle.css' %}" />
        <title>Sentence</title>
    </head>

    <body>
        <div id = "problem">
            <p> {{ sentence }} </p>
        </div>
        <div id="button">
            <p> <a href = "/sentence/generate">Generate a Sentence!</a></p>
        </div>
        <div id="button">
            <p> <a href = "/sentence/">Home</a></p>
        </div>
    </body>
</html>