{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'sentenceGen/quizStyle.css' %}" />
        <title>Quiz</title>
    </head>

    <body>
        <h2>QUIZ QUESTION NUMBER {{ num }} OF 10</h2>
        <div id = "problem">
            <h4 id="sentence"> {{ sentence }} </h4>
        </div>
        <div id = "problem">
            <p> Choose all the {{ mode }}s in the above sentence </p>
            <form action="/sentence/submit/{{ quiz.pk }}/{{ question.pk }}/" method="post">
            {% csrf_token %}
            {% for word in question.word_set.all %}
                <input type="checkbox" name="word{{ forloop.counter}}" id="word{{ forloop.counter }}" value = "{{ word.id }}" />
                <label for="word{{ forloop.counter }}"> {{ word.word }} </label><br />
            {% endfor %}
            <input type="submit" value="Next" />
            </form>
        </div>
    </body>
</html>
